@model Getri_StronglyTypedViews.Models.Employee

<table class="table table-striped">
<thead>
    <tr>
        <th>Emp Id</th>
        <th>Emp Name</th>
        <th>Emp Salary</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>@Model.EmpId</td>
        <td>@Model.EmpName</td>
        <td>@Model.EmpSal</td>
    </tr>
</tbody>
</table>
